<div ng-controller="app.views.phonebook.index as vm">
    <div class="row">
        <div class="col-md-12">

            <h3>@L("AllPeople")</h3>

            <div class="list-group">
                <a href="javascript:;" class="list-group-item" ng-repeat="person in vm.persons">
                    <h4 class="list-group-item-heading">
                        {{person.name}} {{person.surname}}
                    </h4>
                    <p class="list-group-item-text">
                        {{person.emailAddress}}
                    </p>
                </a>
            </div>

        </div>
    </div>
</div>
